### 5개의 코드로 살펴보는 (싱기방기한) 파스칼의 삼각형

우선, 파스칼의 삼각형을 만들어 보자.

In [1]:
def make_triangle(n):
    T = [[0] * (i + 1) for i in range(n + 1)]
    for i in range(len(T)):
        for j in range(len(T[i])):
            if j == 0 or j == i:
                T[i][j] = 1
            else:
                T[i][j] = T[i - 1][j - 1] + T[i - 1][j]
    return T

In [3]:
n = int(input("Input the number of n: "))
T = make_triangle(n)
for i in range(len(T)):
    for j in range(len(T[i])):
        print(T[i][j], end = " ")
    print()

Input the number of n: 15
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1
1 10 45 120 210 252 210 120 45 10 1
1 11 55 165 330 462 462 330 165 55 11 1
1 12 66 220 495 792 924 792 495 220 66 12 1
1 13 78 286 715 1287 1716 1716 1287 715 286 78 13 1
1 14 91 364 1001 2002 3003 3432 3003 2002 1001 364 91 14 1
1 15 105 455 1365 3003 5005 6435 6435 5005 3003 1365 455 105 15 1

### Code 1. 조합의 수 nCk가 T[n][k]와 같다고?

In [4]:
from math import factorial
for i in range(n + 1):
    for j in range(i + 1):
        iCj = factorial(i) // factorial(j) // factorial(i - j)
        print(iCj, end = " ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1
1 10 45 120 210 252 210 120 45 10 1
1 11 55 165 330 462 462 330 165 55 11 1
1 12 66 220 495 792 924 792 495 220 66 12 1
1 13 78 286 715 1287 1716 1716 1287 715 286 78 13 1
1 14 91 364 1001 2002 3003 3432 3003 2002 1001 364 91 14 1
1 15 105 455 1365 3003 5005 6435 6435 5005 3003 1365 455 105 15 1

### Code 2. n번째 행의 모든 수들을 합하면?

In [5]:
for i in range(n + 1):
    print(sum(T[i]), end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768

In [6]:
for i in range(n + 1):
    print(2 ** i, end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768

결론: 파스칼의 삼각형에서 n번째 행의 수들을 모두 합하면 2^n과 같다.

### Code 3. n번째 행의 모든 수들을 십의 자리수로 만들면?

In [7]:
for i in range(n + 1):
    S = 0
    for j in range(i + 1):
        S += T[i][j] * (10 ** (i - j))
    print(S)

1
11
121
1331
14641
161051
1771561
19487171
214358881
2357947691
25937424601
285311670611
3138428376721
34522712143931
379749833583241
4177248169415651

In [8]:
for i in range(n + 1):
    print(11 ** i)

1
11
121
1331
14641
161051
1771561
19487171
214358881
2357947691
25937424601
285311670611
3138428376721
34522712143931
379749833583241
4177248169415651

결론: 파스칼의 삼각형에서 n번째 행의 수들을 십의 자리수로 합하면 11^n이 된다.

### Code 4. n번째 행의 첫 항부터 대각선으로 더하면?

In [9]:
for i in range(n + 1):
    row, col = i, 0
    S = 0
    while row >= 0 and col <= row:
        S += T[row][col]
        row, col = row - 1, col + 1
    print(S, end = " ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [10]:
a, b = 1, 1
print(a, end = " ")
print(b, end = " ")
for i in range(n - 1):
    a, b = b, (a + b)
    print(b, end = " ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

결론: 파스칼의 삼각형에서 대각선 숫자의 합은 피보나치 수열이 된다.

### Code 5. n번째 행의 숫자를 n으로 나눈 나머지는? (n >= 2)

In [11]:
for i in range(2, n + 1):
    print(i, end = ": ")
    for j in range(i + 1):
        print(T[i][j] % i, end = " ")
    print()

2: 1 0 1
3: 1 0 0 1
4: 1 0 2 0 1
5: 1 0 0 0 0 1
6: 1 0 3 2 3 0 1
7: 1 0 0 0 0 0 0 1
8: 1 0 4 0 6 0 4 0 1
9: 1 0 0 3 0 0 3 0 0 1
10: 1 0 5 0 0 2 0 0 5 0 1
11: 1 0 0 0 0 0 0 0 0 0 0 1
12: 1 0 6 4 3 0 0 0 3 4 6 0 1
13: 1 0 0 0 0 0 0 0 0 0 0 0 0 1
14: 1 0 7 0 7 0 7 2 7 0 7 0 7 0 1
15: 1 0 0 5 0 3 10 0 0 10 3 0 5 0 0 1

In [12]:
def is_prime(n):
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0: 
            return False
    return True

In [13]:
for i in range(2, n + 1):
    if is_prime(i):
        print(i, end = ": ")
        for j in range(1, i):
            print(T[i][j] % i, end = " ")
        print()

2: 0
3: 0 0
5: 0 0 0 0
7: 0 0 0 0 0 0
11: 0 0 0 0 0 0 0 0 0 0
13: 0 0 0 0 0 0 0 0 0 0 0 0

결론: 파스칼의 삼각형에서 소수인 p번째 항의 가운데 숫자들은 모두 p의 배수이다.